body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  font-size: 562.5%;   /* 100% = 16px 90px/16 = 562.5 */
  color: #66BFBF;
  /* font-size: 1em; /* 1em = 16px */
  /* font-size: 1rem; /* rem will not follow the parents styling */
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  line-height: 2;
  /* width: 10%;
  margin: 0 auto 0 auto; /*top right button left*/
  /* margin: 0 auto; top buttom left right */
}
h2 {
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight: normal;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}
p {
    line-height: 2;
}
.contact-message {
  width: 30%;
  margin: 40px auto 60px;
}
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.middle-container {
 font-family: 'Montserrat', sans-serif;
 margin: 100px auto;
}
.intro {
  width: 40%;
  margin: auto;
}
.bottom-container {
 font-family: 'Montserrat', sans-serif;
}
.bottom-cloud {
  position: absolute;
  right: 300px;
  top: 50px;

}
.top-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.footer-link {
  text-decoration: none;
  color: #11999E;
  margin-top: 100px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.chillie {
  width: 25%;
  float: right;
  margin-left: 30px;
}
/* .code-skill-discription {
  clear: right;
} */
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background:  #30e3cb;
  background-image: -webkit-linear-gradient(top,  #30e3cb,  #2bc4ad);
  background-image: -moz-linear-gradient(top,  #30e3cb,  #2bc4ad);
  background-image: -ms-linear-gradient(top,  #30e3cb,  #2bc4ad);
  background-image: -o-linear-gradient(top,  #30e3cb,  #2bc4ad);
  background-image: linear-gradient(to bottom,  #30e3cb,  #2bc4ad);
  text-decoration: none;
}
.bottom-container {
  background-color: #65bfbf;
  padding: 50px 0 20px;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}
a:hover {
  color: #EAF6F6;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.hero {
  color: #EAF6F6;
}
